<div class="nav">
  <div class="ui grid">
    <div class="four wide column"></div>

    <div class="eight wide column">
      <a href="/posts">
        <h1>
          Mean
        </h1>
      </a>
      <p>
        I'm
        <a href="https://medium.com/"> Medium</a>
        's friend. And I have a better comment system.
      </p>
    </div>
  </div>
</div>